
 <div class = "animated fadeIn" ng-app="Trackingsr" ng-controller="TrackingCtrl">
  <div id="dashboard-con">
    <div>
      <ng-view></ng-view>
      <div class="dashboard-left-cell">
        <div class="admin-content-con">
          <header class="clearfix">
            <strong><h5 class="pull-left page_title">All Students who have downloaded their fee vouchers : <%= @count %></h5></strong>
            <div class="col-sm-2 pull-right lil">
              <input type="text" class="form-control-special" ng-model="searchString" placeholder="Search Students"/>
            </div>
          </header>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Tracking ID </th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tracking in trackings | searchFor:searchString">
                  <td>{{tracking.name}}</td>
                  <td>{{tracking.tracking_id}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    var stdMod = angular.module('Trackingsr', []); 
  stdMod.controller('TrackingCtrl', function ($rootScope, $http) {
    $rootScope.trackings = []
    <% if @trackings!=nil%>
      <% @trackings.each do |tracking| %>
        $rootScope.trackings.push({
          name:'<%= tracking.name.titleize() %>',
          tracking_id: '<%= tracking.tracking_id %>'
        })
    <% end %>
  <% end %>
  });
  stdMod.filter('searchFor', function(){
  return function(arr, searchString){
    if(!searchString){
      return arr;
    }
    var result = [];
    searchString = searchString.toLowerCase();
    angular.forEach(arr, function(item){
      if(item.name.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if(item.tracking_id.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }
    });
    return result;
  };
  });
</script>