  <div class="admin-content-con">
  <% if @undertaking == "already_uploaded" %> 
    File is already uploaded.
    <br>
    <%= link_to "Upload File again", url_for(:controller => "undertakings", :action => "destroy", id: Student.where(:username => current_user.email).take.tracking_id), method: :delete,  :class => 'btn btn-xs btn-primary', :role => "button" %>
  <% else %>
    
      <%= form_for(@undertaking, :html => {:multipart => true}) do |f| %>
        <br/>
        <div class="field">
          <%= f.file_field :data %>
        </div>
        <br/>
        <% tracking_id = @id %>
        <div class="actions">
          <%= f.submit "Upload" %>
        </div>
      <% end %>
    
    
  <% end %>
  </div>