<div class = "animated fadeIn">
  <div id="dashboard-con">
      <div class="dashboard-left-cell">
        <div class="admin-content-con">
          <header class="clearfix">
            <strong><h3 class="pull-left page_title"><%= @student.name %>'s Summer Coaching Session Undertaking</h3></strong>
            <div class = "divider pull-right">
          </header>
          <div id = "utext"><%=raw UndertakingText.find(1).display_text %></div>
           <div id = "check-box">
          <input type="checkbox" id="check" unchecked="unchecked"/>
         <label for="check" id="checkLabel">I agree to all Terms and Conditions</label><p/>
          
    <!--<p hidden id="hideMe"><= link_to "Download Fee Voucher", student_path(@student, format: "pdf"), target: "_blank" %><p></div>-->
      <p hidden id="hideMe"><%= link_to "Download Fee Voucher", student_path(@student, format: "pdf"), target: "_blank", :class => "btn btn-primary", :role => "button" %><p>
                 
<script language="javascript" type="text/javascript">
var hideTest = {
  hidePara: function() {
    if ( $(this).is(':checked') ) {
      $('p#hideMe').slideDown('slow');
    } else {
      $('p#hideMe').slideUp('slow');
    }
  },
  setup: function() {
    $('#check').change(hideTest.hidePara);
  }
};
$(hideTest.setup);
</script>
                 
                 <div class="checkbox">
                    <label>
                     <form action= ""  onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">

</form>
                      
                    </label>
                    </div>
                    &nbsp;

                  <hr/>
                  <strong> Instructions: </strong>
                  <br>
                  <p>You are required to follow the instructions mentioned below:</p>
                  
                  <ol>
                    <li>Dowload the voucher from the button given above.</li>
                    <li>Take a print-out of the voucher.</li>
                    <li>Submit it in the relevant bank.</li>
                    <li>Obtain a photocopy of the paid voucher.</li>
                    <li>Submit the scanned copy of that voucher here before the specified deadline.</li>
                  </ol>
                  
                    &nbsp;
                    
                  <!--<p><= link_to "Download Fee Voucher", student_path(@student, format: "pdf"), target: "_blank" %></p>-->
  
                    <!--OWAIS WILL WRITE CODE HERE-->
                    <!--PUT A "DOWNLOAD VOUCHER BUTTON AND DOWLOAD PDF"-->
          
                    
                    <!--<= link_to "Upload Fee Receipt", users_path, :class => "btn btn-primary pull-left", :role => "button" %>-->
                  
                  <br/>
                  <br/>
                  </div>
                  </div>
                  
      </div>
    </div>
  </div>
</div>


