/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
  *= require font-awesome
 *= require animate
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote";
@import "font-awesome";

.form-control-special{
    display: block;
    width: 100%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#notice_wrapper{
    position: absolute;
    top: 10px;
    left: 300px;
    width: 100;
    z-index: 999;
    /*background: #1ab394 0.05;*/
    background: rgba(135,216,211,0.05);
    border-radius: 10px;


}
.notice{
    padding: 1rem 3rem;
    text-align: center;
    /*margin: auto;*/
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    background: #1ab394;
    border-radius: 10px;
    /*top: 5;*/
}
.divider{
    width: 125px;
    /*height: auto;*/
    display: inline-block;
}






