@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400&subset=latin-ext);

input,select,textarea,button{font-family:Lato; font-size:16px;}

// body{font-family:Lato; font-size:16px; font-weight:400; background:url(../trash/demo-bg-image.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover; padding:10px; margin:0;}
	// background:url(/big.jpg) no-repeat center center fixed;
	.header-new{width:100%; max-width:900px; color:#FFF; margin:0 auto; padding:30px 0;}
		.header-new>h1{font-weight:400; text-align:center; font-size:36px; padding:0; margin:0;}
		.header-new>h2{font-weight:300; text-align:center; font-size:24px; padding:0; margin:0;}
	.containers{width:100%; max-width:900px; background:#FFF; color:#333; margin:0 auto; padding:50px; border-radius:3px; box-sizing:border-box;}
		.container-tops{text-align:center; width:100%; margin-bottom:30px;}
		.container-tops>h3{font-weight:normal; padding:0; margin:0;}
		.containers .themes{width:100%; height:auto; overflow:hidden; padding:10px 0;}
		.containers .themes>span{width:20px; height:20px; display:inline-block; cursor:pointer; border:solid 3px #FFF;}
		.containers .themes>span.selectedx{border-color:#333;}
		.containers .themes>a{text-decoration:none; font-size:16px; color:#f44a56; display:inline-block; padding:5px 10px; border:solid 1px #DDD;}
		.containers .themes>a:hover{border-color:#f44a56;}
		.containers .themes>a.activex{color:#FFF; background:#f44a56; border-color:#f44a56;}
		
	.footers{width:100%; max-width:900px; margin:0 auto; margin-top:30px; background:#FFF; padding:30px; box-sizing:border-box;}

